* {
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 34px;
    font-weight: 600;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
}

.section-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

.banner {
    display: flex;
    gap: 130px;
    align-items: center;
    margin-top: 40px;
}

.banner-content h1 {
    color: #3A3A3A;
    font-size: 4.2rem;
    font-weight: 700;
    margin: 0;
}

.banner-content p {
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

.banner-img {
    background-image: url('../images/Circle\ design.svg');
    margin-right: 80px;
}

/* sponsors styles */
.sponsors-img-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    border-top: 1px solid #3A3A3A;
    border-bottom: 1px solid #3A3A3A;

}

.sponsor-1 img {
    padding: 30px 0;
    padding-left: 90px;
}

.sponsor-2 img {
    padding: 30px 0;
    padding-left: 90px;
}
/* Popular item styles */

.popular-title {
    color: #3A3A3A;
    font-weight: 600;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.popular-img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.reviews-1 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    
    
}
.head-review {
    border-radius: 5px;
    text-align: center;
    padding: 15px;
}
.head-review img {
    width: 350px;
}
.body-review {
    padding: 0 30px;

}
.img-title {
    color: #18191F;
    font-weight: 500;
    font-size: 1.7rem;
    margin: 0;
}
.price {
    color:  rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0;
}
.popular-status {
    color: #787885;
    font-weight: 700;
    font-size: 0.8rem;
    padding-right: 40px;
    margin-top: 5px;
}
.total-rating {
    display: flex;
    gap: 10px;
}

.rating {
    color: #FB8200;
    
}
.n-rating {
    margin: 0;
}
.popular {
    position: relative;
    margin-bottom: 100px;
}
.see-option {
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    left: 1200px;
    padding-top: 40px;
}
.features {
    display: flex;
    gap: 90px;
}
.features-title {
    color: #0A0826;
    font-weight: 700;
    font-size: 2.3rem;
}
.features-status {
    color: #6C6C6C;
    font-weight: 700;
    font-size: 1rem;
    margin-right: 80px;
}
footer {
    background: #0A0826;
    text-align: center;
    
    padding-top: 40px;
    
}
.footer-info {
}
.footer-title {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;

}

/* Responsive small device */
@media screen and (max-width: 576px) {
    nav {
        flex-direction: column;
    }

    .banner {
        flex-direction: column-reverse;
        gap: 0;
        margin: 15px;
    }

    .banner-content {
        text-align: center;
        margin-top: 30px;
    }

    .banner-img {
        margin: 15px;
    }

    .section-title {
        text-align: center;
    }

    nav li {
        margin-right: 10px;
    }

    .banner-content h1 {
        font-size: 2.2rem;
    }

    .sponsors-img-container {
        display: flex;
        flex-wrap: wrap;
        border: none;
    }

    .sponsors-img-container img {
        padding: 10px;
    }

    .sponsor-1 {
        display: flex;
        justify-content: space-around;
    }

    .sponsor-2 {
        display: flex;
        justify-content: space-around;
    }
    .popular {
        position: relative;
    }
    .popular-img-container {
        display: flex;
        flex-direction: column;
    }
    .see-option {
        position: absolute;
        left: 300px;
    }
    .features {
        flex-direction: column-reverse;
    }
    .features-container {
        text-align: center;
        padding: 0 10px;
    }
    .features-status {
        margin: 15px 0;
        
    }
}